 @charset "UTF-8";

 
 body{ background-color: #c3ea80;}


 header{ 
background-image: linear-gradient(to bottom,   #9CEF11 , #395700);

min-height: 150px;
text-align: center;
padding-top: 40px;

}

header > h1{ color: white;
 font-family:   sans-serif;
 font-size: 3.1em;
margin-bottom: 20px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);

}
  
header> p{
font-size: 1.2em;
color: white;
max-width: 500px;
margin: auto;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);

}
 



nav{  background-color:  #395700;
padding: 10px;
box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);

}

nav a{  color: #9bf400;
       padding: 9px;
       border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: .5s;
       }

nav>a:hover{
background-color: #49F249;
color: black;


}       