 @charset "UTF-8";

nav{ 
    background-color: #AB2945;
    padding: 10px;}


 nav>a{
    background-color: #5E1726;
    color: white;
    padding: 9px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
     

 }

 nav>a:hover{
    background-color:   #FF7AC1;
    color:  #DE005A;
 }